
@(loginForm:Form[User] )
@import helper._

@if(session().get("auth_user")==null){
                  @*@form(routes.Application.login(),'class->"navbar-form pull-right"){
    		      @inputText(loginForm("email"),'_label->"",'class->"span1" ,'placeholder->"Email")
                  @inputText(loginForm("password"),'_label->"",'class->"span1" ,'placeholder->"Password")
    		      <button type="submit" class="btn">Login</button>}*@
    		      <form method="POST" action="@routes.Application.login()"class="navbar-form pull-right">
  					<input type="text" class="span1" placeholder="Email" id="email" name="email">
  					<input type="password" class="span1" placeholder="Password" id="password" name="password">
  					<button type="submit" class="btn">Login</button>
				</form>
    		    
            }else{
                <div class="btn-group pull-right">
                    
                    <button class="btn">@Application.getAuthUser().userIdentifier()</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- dropdown menu links -->
                        <li><a tabindex="-1" href="@routes.Application.profile(Application.getAuthUser().id.toString())">Profile</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="@routes.Application.logout()">Logout</a></li>
                    </ul>
                </div>
            }


 