<ul class="nav nav-list">
  <li class="nav-header">Question Sets</li>
  <li><a href="@routes.Management.questionSets()">All Question Sets</a></li>
  <li><a href="@routes.Management.newQuestionSet()">New Question Set</a></li>
  <li><a href="@routes.Management.questions()">All Questions</a></li>
  <li><a href="@routes.Management.newQuestion()">New Question</a></li>
  <li class="nav-header">Response Sets</li>
  <li><a href="@routes.Management.responseSets()">All Response Sets</a></li>
  <li class="nav-header">Song Sets</li>
  <li><a href="#">All Song Sets</a></li>
  <li><a href="#">New Song Set</a></li>
  <li class="nav-header">Posts</li>
  <li><a href="#">All Posts</a></li>
  <li><a href="#">Manage Posts</a></li>
  <li><a href="#">New Post</a></li>
  <li class="nav-header">Users</li>
  <li><a href="#">All Users</a></li>
  @*<li><a href="#"></a></li>*@
  
</ul>

