@(questionSet:QuestionSet,responseSetForm:Form[ResponseSet]) 
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@main("Question Set") {
	
	<!-- Example row of columns -->
	<div class="page-heading">
	    <p>
	    	<h3>@questionSet.title</h3>
	    	<i>@questionSet.description</i>
	    </p>
    </div>
    <div class="span5">
    	@form(routes.Management.doQuestionSet(questionSet.id.toString())){
    	<input type="hidden" value="@Application.getAuthUser().id" id="userId" name="userId">
    	<input type="hidden" value="@questionSet.id" id="questionSetId" name="questionSetId">
    	@if(questionSet.attachedQuestions!=null){
    	@for( (questionNo,questionId)<-questionSet.attachedQuestions){
			<div class="question">
				<input type="hidden" value="@questionId" id="qid" name="responses[@questionNo].questionId">
				<p>@questionNo) @Question.getQuestion(questionId).text</p>
    				<div class="options">
						@if(Question.getQuestion(questionId).qtype=="freeform"){
							<textarea  rows="4" cols="20" id="singleActualResponse" name="responses[@questionNo].singleActualResponse"></textarea>
						}else{ 
						   @if(Question.getQuestion(questionId).qtype=="mult"){
								@for(j<-0 until Question.getQuestion(questionId).options.length){
									<label> <input type="checkbox" id="responses[@questionNo].actualResponses[@j]" name="responses[@questionNo].actualResponses[@j]" value="@Question.getQuestion(questionId).options.get(j)"> @Question.getQuestion(questionId).options.get(j)</label>
								}
							}else{
								@for(j<-0 until Question.getQuestion(questionId).options.length){
									<label> <input type="radio" id="responses[@questionNo].singleActualResponse" name="responses[@questionNo].singleActualResponse" value="@Question.getQuestion(questionId).options.get(j)"> @Question.getQuestion(questionId).options.get(j)</label>
								}

							}
							
						}
				    </div>
			</div>
			</br>
        
    	}
		}
			
		
		
		<div class="form-actions">
			<input type="submit" value="Done" class="btn">
		</div>}
    </div>
	
	<script type="text/javascript">
			$(function(){
				if($("#qtype option:selected").val()!="mult"){
					$("#optionNo").parent().children().hide();
					$("#optionNo").parent().siblings().hide();
					
				}
				//$(".comment-box").hide();
				$("#qtype").change(
					function(){
						if($("#qtype option:selected").val()=="mult"){
							$("#optionNo").parent().children().show("fast");
							$("#optionNo").parent().siblings().show("fast");
						}else{
							$("#optionNo").parent().children().hide();
							$("#optionNo").parent().siblings().hide();
							$("#questionOptions").hide();
						}

				});
				$("#optionNo").change(function(){
					$count=$(this).val();
				    $("#questionOptions").html("");
					for(i=0;i<$count;i++){
						$count=$("#optionNo").val();
						$("#questionOptions").append("<div class='control-group'><label class='control-label' for='options["+i+"]'>Option"+i+"</label> <div class='controls'><input type='text' id='options["+i+"]'name='options["+i+"]' ></div></div>");
					}
				});
			});
		</script>
	
}

