@(questionSet:QuestionSet,responseSet:ResponseSet,responseSetForm:Form[ResponseSet]) 
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@main("Edit ResponseS") {
	
	<!-- Example row of columns -->
	<div class="row span2">
	    <p>
	    	<h3>@questionSet.title</h3>
	    	<i>@questionSet.description</i>
	    </p>
    </div>
    <div class="span5">
    	@form(routes.Management.editResponses(responseSet.id.toString())){
    	<input type="hidden" value="@Application.getAuthUser().id" id="userId" name="userId">
    	<input type="hidden" value="@responseSet.questionSetId" id="questionSetId" name="questionSetId">
    	@if(questionSet.attachedQuestions!=null){
    	@for((questionNo,questionId) <-questionSet.attachedQuestions){
			<input type="hidden" value="@questionSet.attachedQuestions.get(questionId)" id="responses[@questionNo].questionId" name="responses[@questionNo].questionId">
			<p>@Question.getQuestion(questionId).text</p>
    				<div class="options">
			@*
				@if(Question.getQuestion(questionId).qtype=="freeform"){
					<textarea  rows="4" cols="20" id="singleActualResponse" name="responses[@questionNo].singleActualResponse">@responseSet.responses.get(questionNo).singleActualResponse</textarea>
				}else{ 
				   @if(Question.getQuestion(questionId).qtype=="mult"){
				@for(j<-0 until Question.getQuestion(questionId).options.length){
					<label><input type="checkbox" id="responses[@questionNo].actualResponses[@j]" name="responses[@questionNo].actualResponses[@j]" value="@Question.getQuestion(questionId).options.get(j)" @if(responseSet.responses.get(questionNo).actualResponses(j)!=null){checked}> @Question.getQuestion(questionId).options.get(j)</label>
					}
					} else{
					@for(j<-0 until Question.getQuestion(questionId).options.length){
					<label><input type="radio" id="responses[@questionNo].singleActualResponse" name="responses[@questionNo].singleActualResponse" value="@Question.getQuestion(questionId).options.get(j)" @Management.getOptionState(responseSet.responses.get(questionNo).singleActualResponse,Question.getQuestion(questionId).options)> @Question.getQuestion(questionId).options.get(j)</label>
				} 


				}
				
				}</br>*@
    	}
		
        }
			
		</div>
		
		<div class="form-actions">
			<input type="submit" value="Done" class="btn">
		</div>}
    </div>
	
	
	
}

