@(id:String,questionSetForm:Form[QuestionSet])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Edit QuestionSet"){
	
		@form(routes.Management.editQuestionSet(id),'class->"form-horizontal",'method->"POST"){
			@inputText(questionSetForm("title"),'_label->"Title");
			
			@textarea(field = questionSetForm("description"),args = '_label->"Description",'rows -> 5, 'cols -> 30)
			<input type="hidden" value="@Application.getAuthUser().id" id="authorId" name="authorId">
			<div class="form-actions">
				<input type="submit" value="Save" class="btn">
				
			</div>
		}
	
}