@(question:Question,questionForm:Form[Question])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Edit QuestionSet"){
	
		@form(routes.Management.editQuestion(question.id.toString()),'class->"form-horizontal",'method->"POST"){
			@inputText(questionForm("text"),'_label->"Question Text");
			<input type="hidden" id="qtype" name="qtype"value="@question.qtype">
			@if(question.qtype=="mult"){
			    
		<div id="questionOptions">
				@for(i<-0 until question.options.length){
					<div class='control-group'>
						<label class='control-label' for='options[@i]'>Option @i</label> 
							<div class='controls'>
								<div class='input-append'>
									<input type='text' class='span2'id='options[@i]'name='options[@i]' value="@question.options.get(i)" >
										<button class ='btn' type='button'>-</button>
								</div>
						    </div>
					</div>
		
				}
		</div>
				}
			
			<input type="hidden" value="@Application.getAuthUser().id" id="authorId" name="authorId">
			<div class="form-actions">
				<input type="submit" value="Save" class="btn">
				
			</div>
		}
	

	<script type="text/javascript">
                 $(".input-append button").click(
                 	function(){
						$(this).parent().parent().parent().remove();
						$("#questionOptions input:text").each(
							function(i){
								$(this).prop("id","options["+i+"]").prop("name","options["+i+"]");
							});
						$("#questionOptions label").each(
							function(i){
								$(this).text("options "+i).prop("for","options["+i+"]");
							})
					})

				$("#optionNo").change(
					function(){
						$count=$(this).val();
						$currentNoofTextBoxes=$("#questionOptions input:text").length
					    $("#questionOptions").html("");
						
						for(i=0;i<$count;i++){
							$count=$("#optionNo").val();
							$("#questionOptions").append("<div class='control-group'><label class='control-label' for='options["+i+"]'>Option"+i+"</label> <div class='controls'><div class='input-append'><input type='text' class='span2'id='options["+i+"]'name='options["+i+"]' ><button class ='btn' type='button'>-</button></div></div></div>");
						}
					}
				);
				
		</script>
	
}