@(loginForm:Form[User])
@main("Home"){


<div id="myCarousel" class="carousel slide" >
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="@routes.Assets.at("images/step1.jpg")" alt=""></div>
    <div class="item"><img src="@routes.Assets.at("images/step2.jpg")" alt=""></div>
    <div class="item"><img src="@routes.Assets.at("images/step3.jpg")" alt=""></div>
    <div class="item"><img src="@routes.Assets.at("images/step4.jpg")" alt=""></div>
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

}