@(posts:List[Post])
@import helper._

@main("List Posts"){
	<div class= "table">
		@if(posts.length>0){
		<table>
			<thead>
				<tr><th>Post Title</th><th>Created By</th><th>Actions</th></tr>
			</thead>
			<tbody>
				@for(post<-posts){
					<tr>
					<td>@post.title</td>
					<td>@post.getPostAuthor()</td>
					<td><a href="@routes.Application.post(post.id.toString())">View</a></td>
					<td><a href="@routes.Application.editPost(post.id.toString())">Edit</a></td>
					</tr>
				}
			</tbody>
		</table>
		}
	</div>
}