@(postForm:Form[Post]) 
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@main("Post") {
	
	<!-- Example row of columns -->
	<div class="row">
	@form(routes.Application.newPost(),'class->"form-horizontal"){
		@inputText(postForm("title"),'_label ->"Title" )
		@textarea(field = postForm("content"),args = '_label->"Content",'rows -> 5, 'cols -> 30)
		<div class="form-actions">
			<input type="submit" value="Create" class="btn">
		</div>
	}

	</div>
	
	
}
