@(post:Post)
@import helper._

@main("Post |"+post.title){
	
				<div>
					<div class="page-heading"><h1>Post-@post.title</h1>
					                 
						<span class="context-options">
						@if( post.authorId.equals(Application.getAuthUser().id)){
						<ul>
							<li><a href="@routes.Application.editPost(post.id.toString())" >edit</a></li>
						</ul>}
						</span>
					</div>
					   

  					<div class="post-content">
  						<p>@post.content</p>
  					</div>
  					<span class="post-meta inline-list">										
						<ul >
	  						<li><b>Author:</b>@post.getPostAuthor()</li>
	  						<li><b>Created On:</b>@post.createdOn</li> 
	  						 @if(post.modifiedOn!=null){
	  							<li><b>Modified On:</b>@post.modifiedOn</li>
	  						 }
	  						 @if(post.publishedOn!=null){
	  							<li><b>Published On:</b>@post.publishedOn</li>
	  						 }else{
	  						   <li><b>Unpublished</b></li> 
	  						 }
	  						
	  					</ul>
  					</span>
  					<hr/>

				</div>
}