
@(posts: List[Post],commentForm:Form[Comment])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Welcome"){
	<!-- Example row of columns -->
	@*<div class="row-fluid">*@
	     
		@for(post <- posts) {
			<div class="span7 postentry" id="@post.id">
				<h2>@post.title</h2>
				<p>@post.content</p>
			
				@if(session().get("auth_user")!=null){
			    	<span class="postentry-options"><a href="#@post.id"><i class="icon-comment"> comment</i></a></span>
			    
			    <div class="comment-box" style="display:none">
			        <hr>
			    	@form(routes.Application.newComment(post.id.toString()),'class->"form-horizontal"){
			        	@*How about introducing a hidden field to send post id?*@
			     		@textarea(field=commentForm("content"),args= 'placeholder->"Comment", 'row->2 ,'cols->8)
			     		
			     		<input type="hidden" value="@Application.getAuthUser().email" id="userId" name="userId">
			     		<div class="form-actions">
			     			<input type="submit" value="Done" class="btn mini">
			     		</div>
			     	}
			     </div>
			    }
				@if(post.comments!=null){
					@for(comment <- post.comments) {
						<blockquote>
							<p>@comment.content</p>
							<small>@comment.authorId</small>
						</blockquote>
					}
				}
	
		
			</div>	
	    
		

		
	}	
	@*</div>	*@
	
}

