@(question:Question,responseForm:Form[QResponse]) 
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@main("Question") {
	
	
	<div class="span4">
	
		@form(routes.Management.previewQuestion(question.id.toString())){
		<p>@question.text</p>
		<input type="hidden" value="@question.id" id="questionId" name="questionId">
		<div class="options">
			
				@if(question.qtype=="freeform"){
					<textarea  rows="4" cols="20" id="actualResponses" name="actualResponses"></textarea>
				}else{
				@for(i<-0 until question.options.length){
					<label><input type="checkbox" id="actualResponses[@i]" name="actualResponses[@i]" value="@question.options.get(i)"> @question.options.get(i)</label>
				}
				
				}
			
		</div>
		
		<div class="form-actions">
			<input type="submit" value="Done" class="btn">
		</div>
	}

	</div>
	
	<script type="text/javascript">
			$(function(){
				if($("#qtype option:selected").val()!="mult"){
					$("#optionNo").parent().children().hide();
					$("#optionNo").parent().siblings().hide();
					
				}
				//$(".comment-box").hide();
				$("#qtype").change(
					function(){
						if($("#qtype option:selected").val()=="mult"){
							$("#optionNo").parent().children().show("fast");
							$("#optionNo").parent().siblings().show("fast");
						}else{
							$("#optionNo").parent().children().hide();
							$("#optionNo").parent().siblings().hide();
							$("#questionOptions").hide();
						}

				});
				$("#optionNo").change(function(){
					$count=$(this).val();
				    $("#questionOptions").html("");
					for(i=0;i<$count;i++){
						$count=$("#optionNo").val();
						$("#questionOptions").append("<div class='control-group'><label class='control-label' for='options["+i+"]'>Option"+i+"</label> <div class='controls'><input type='text' id='options["+i+"]'name='options["+i+"]' ></div></div>");
					}
				})
			});
		</script>
	
}

