@(user:User)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }
@main("Profile"){
	
        
		
			
				<div>
					
					<div class="page-heading">
          <h1>Profile @user.firstName @user.lastName</h1>
					<span class="context-options">
					<ul>
						<li><a href="@routes.Application.updateProfile(user.id.toString())" >update</a></li>

					</ul>
					</span>
					</div>
					
										
					<ul class="thumbnails">
  						<li class="span3">
    						<div href="#" class="thumbnail">
      							<img src="@routes.Assets.at("images/profilepic.jpg")" alt="">
    					       <p><a href="#">Upload Photo</a></p>
              </div>
  						</li>
  						<li class="span3"> 
              <b>Email:</b>@user.email<br/>
  						<b>Gender:</b> @user.gender<br/>
  						<b>BirthDate:</b> @user.birthDate<br/>
  						<b>Home No:</b>@user.homeNo<br/>
  						<b>Mobile No:</b>@user.mobileNo<br/>
  						<b>Address:</b>@user.address<br/>
  						<b>Marital Status:</b>@user.maritalStatus<br/>
  						</li>
  					</ul>
  					
  					<hr/> 					

				</div>
				
	
}