@(questions:List[Question])
@import helper._

@main("Questions"){
	<div class= "table">
		<table>
			<thead>
				<tr><th>Question Text</th><th>Type</th><th>Options</th><th>Actions</th></tr>
			</thead>
			<tbody>
				@for(question<-questions){

					<tr>
					
					<td>@question.text</td>
					<td>@question.qtype</td>
					<td>
					@if(question.options!=null){
						@question.options.toString()	
					}
					</td>
					<td><a href="@routes.Management.previewQuestion(question.id.toString())">Preview</a></td>
					<td><a href="@routes.Management.editQuestion(question.id.toString())">Edit</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	
}