@(questionSets:List[QuestionSet])
@import helper._

@main("Question Sets"){
	<div class= "table">
		<table>
			<thead>
				<tr><th>Set Name</th><th>Description</th><th>Created By</th><th>Action</th></tr>
			</thead>
			<tbody>
				@for(questionSet<-questionSets){

					<tr>
					<td>@questionSet.title</td>
					<td>@questionSet.description</td>
					<td>
					
						@User.getUserById(questionSet.authorId).email
					</td>
					<td><a href="@routes.Management.getQuestionSet(questionSet.id.toString())">View</a></td>
					<td><a href="@routes.Management.editQuestionSet(questionSet.id.toString())">Edit</a></td>
					<td><a href="@routes.Management.setupQuestionSet(questionSet.id.toString())">Setup</a></td>
					<td><a href="@routes.Management.doQuestionSet(questionSet.id.toString())">Do</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	
}