@(questionForm:Form[Question]) 
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


@main("Question") {
	
	<!-- Example row of columns -->
	<div>
	@form(routes.Management.newQuestion(),'class->"form-horizontal"){
		@inputText(questionForm("text"),'_label ->"Question Text" )
		@select(questionForm("qtype"),options=options("freeform"->"Free Form Response","mult"->"Multiple Choice","single"->"Single Choice"),'_label->"Question Type")
		@select(questionForm("optionNo"),options=options("1"->"1","2"->"2","3"->"3","4"->"4","5"->"5","6"->"6","7"->"7"),
		'_label->"No of Options" )
		<div id="questionOptions"></div>
		<div class="form-actions">
			<input type="submit" value="Create" class="btn">
		</div>
	}
   </div>
	
	
	<script type="text/javascript">
			$(function(){
				if($("#qtype option:selected").val()!="mult"){
					$("#optionNo").parent().children().hide();
					$("#optionNo").parent().siblings().hide();
					
				}
				//$(".comment-box").hide();
				$("#qtype").change(
					function(){
						if($("#qtype option:selected").val()!="freeform"){
							$("#optionNo").parent().children().show("fast");
							$("#optionNo").parent().siblings().show("fast");
						    $("#questionOptions").show();
						}else{
							$("#optionNo").parent().children().hide();
							$("#optionNo").parent().siblings().hide();
							$("#questionOptions").hide();
						}

				});
				$("#optionNo").change(function(){
					$count=$(this).val();
				    $("#questionOptions").html("");
					for(i=0;i<$count;i++){
						$count=$("#optionNo").val();
						$("#questionOptions").append("<div class='control-group'><label class='control-label' for='options["+i+"]'>Option"+i+"</label> <div class='controls'><input type='text' id='options["+i+"]'name='options["+i+"]' ></div></div>");
					}
				})
			});
		</script>
	
}

