@(responseSet:ResponseSet)

@main("Response Set"){
<div class="table">
	<table>
		<thead>
			<tr>
				<td colspan="3">
				<b>
					@if(User.getUserById(responseSet.userId).fullName().length>0){
						@User.getUserById(responseSet.userId).fullName()

					}else{
						@User.getUserById(responseSet.userId).email
					}
					's repsonses for @QuestionSet.getQuestionSet(responseSet.questionSetId).title
					</b>
				</td>
			</tr>
			<tr>
			<td>Question No</td>
			<td>Question</td>
			<td>Response</td>
			</tr>
		</thead>
		<tbody>
			@for((questionNo,response)<-responseSet.responses){
				<tr>
					
					<td>@questionNo</td>
					<td>@Question.getQuestion(response.questionId).text</td>
					@if(response.singleActualResponse!=null){
						<td>@response.singleActualResponse</td>
					}else{
						<td>@response.actualResponses</td>
					}
				</tr>
			}
		</tbody>
	</table>
</div>
	
}