@(responseSets:List[ResponseSet])
@import helper._

@main("Questions"){
	<div class= "table">
		<table>
			<thead>
				<tr><th>User</th><th>QuestionSet</th><th>Options</th></tr>
			</thead>
			<tbody>
				@for(responseSet<-responseSets){

					<tr>
					<td>@User.getUserById(responseSet.userId).userIdentifier()</td>
					<td>@QuestionSet.getQuestionSet(responseSet.questionSetId).title</td>
					<td><a href="@routes.Management.getResponseSet(responseSet.id.toString())">View</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	
}