@(questionSet:QuestionSet,questions:List[Question],questionForm:Form[Question])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Setup QuestionSet"){
	
		<div class="page-heading">
		    <label id="questionSetTitle"><h1>Setup -@questionSet.title </h1></label>
			@questionSet.description
			@*<textarea>@questionSet.description</textarea>*@
	    </div>
	    
         <div class="tabbable "> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Create Question</a></li>
              <li><a href="#tab2" data-toggle="tab">Select from List</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
               @form(routes.Management.setupQuestionSet(questionSet.id.toString()),'class->"form-horizontal"){
                    <input type="hidden" value="true" id="createAndSave" name="createAndSave">
                    @inputText(questionForm("text"),'_label ->"Question Text" )
                    @select(questionForm("qtype"),options=options(""->"Select Type","freeform"->"Free Form Response","mult"->"Multiple Choice","single"->"Single Choice"),'_label->"Question Type")
                    @select(questionForm("optionNo"),options=options("1"->"1","2"->"2","3"->"3","4"->"4","5"->"5","6"->"6","7"->"7"),
                    '_label->"No of Options" )
                    <div id="questionOptions"></div>
                    <div class="form-actions">
                         <input type="submit" value="Create and Add" class="btn">
                    </div>
               }
              </div>
              <div class="tab-pane" id="tab2">
                <div class="table">
                    <table>
                    <thead>
                         <tr><th>Include</th><th>No</th><th>Question</th><tr>
                    </thead>
                    <tbody>
                    @form(routes.Management.setupQuestionSet(questionSet.id.toString())){
                    <input type="hidden" value="true" id="addMultipleQuestions" name="addMultipleQuestions">
                    <input type="hidden" value="@questionSet.id" id="hiddden_id" name="id">
                    <input type="hidden" value="@questionSet.title" id="hidden_title" name="title">
                    <input type="hidden" value="@questionSet.description" id="hidden_description" name="description">
                    <input type="hidden" value="@questionSet.authorId" id="hidden_authorId" name="authorId">
                      @for((question)<-questions){
                              <tr>
                              
                                   <td><input type="checkbox" id="chk_@question.id" value="@question.id"></td>
                                   
                                   <td><input type="text" id="questionNo" ></td>
                                   <td><label>@question.text</label></td>
                                   
                              }
                                    
                              </tr>     
                         <tr><td><input type="submit" value="Add to QuestionSet" class="btn"></td></tr>
                    </tbody>
                    }
                    </table>
               </div>
              </div>
            </div>
          </div>

         
<script type="text/javascript">
               
               $(function(){
                //js for tab1
                    if($("#qtype option:selected").val()!="mult"){
                         $("#optionNo").parent().children().hide();
                         $("#optionNo").parent().siblings().hide();
                         
                    }
                    //$(".comment-box").hide();
                    $("#qtype").change(
                         function(){
                              if($("#qtype option:selected").val()!="freeform"){
                                   $("#optionNo").parent().children().show("fast");
                                   $("#optionNo").parent().siblings().show("fast");
                                  $("#questionOptions").show();
                              }else{
                                   $("#optionNo").parent().children().hide();
                                   $("#optionNo").parent().siblings().hide();
                                   $("#questionOptions").hide();
                              }

                    });
                    $("#optionNo").change(function(){
                         $count=$(this).val();
                        $("#questionOptions").html("");
                         for(i=0;i<$count;i++){
                              $count=$("#optionNo").val();
                              $("#questionOptions").append("<div class='control-group'><label class='control-label' for='options["+i+"]'>Option"+i+"</label> <div class='controls'><input type='text' id='options["+i+"]'name='options["+i+"]' ></div></div>");
                         }
                    })
                    //js for tab2
                    $("#tab2 input:text").change(
                        function(){
                          $tbox=$(this);
                          $chk=$tbox.parent().prev().children("input:checkbox");
                          $chk.attr("name","attachedQuestions["+$tbox.val()+"]");
                          
                          //alert("name="+$chk.attr("name"))

                        }
                      )
               });


          </script>
			
		
	
	
}