
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }
	
	@if(Application.getAuthUser==null && (request.path()=="/" || request.path()=="/posts")){
	@*This stuff is only shown if a user is not logged in*
	   @**Signup form is hown on index page when not logged in*@
	   <div class="well">
			@form(routes.Application.signup(),'class->"form",'method->"POST"){
				Don't have an account?Signup..
				<input type="text"  placeholder="Email" id="email" name="email">
				<input type="password"  placeholder="Password" id="password" name="password">
				<input type="password"  placeholder="Confirm Password" id="confirmPassword" name="confirmPassword">
				
				@*@inputText(signupForm("email"),'_label->"Email")
				@inputPassword(signupForm("password"),'_label->"Password")
				@inputPassword(signupForm("confirmPassword"),'_label->"Confirm Password")*@
			
				<div class="pull-left">
					<input type="submit" value="Signup" class="btn">
				</div>
			}
	  	</div>
	 }else {
	  @* A user is logged in*@
	  
		@(Html(Helper.sidePane(request().path())))

	}

