@(text:String)

@import helper._

@form(routes.Management.simpleForm()){
	
    
    <input type="hidden" value="string" name="stringList[0]">
    <input type="hidden" value="string Again" name="stringList[1]">
    <input type="hidden" value="just in a map" name="wrappedText[b].singleString">
    <input type="hidden" value="in lis in a map" name="wrappedText[b].multipleStrings[0]">
    <input type="hidden" value="also in a list in a map" name="wrappedText[b].multipleStrings[1]">
    <input type="hidden" value="mapp value2" name="wrappedText[c].singleString">
    <input type="hidden" value="mapp value3" name="wrappedText[a].singleString">
    
    
	<input type="text" id="text" name="text">
	<input type="submit" value="submit">
}
This was passed @text


